@import "tailwindcss";

/* ===================== */
/* COMMOM CSS */
:root {
  --main-color: #1e90ff;
  --secondary-color: #333;
}

body {
  background: #f1f1f1;
}

.ProseMirror {
  min-height: 400px;
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #9ca3af;
  content: attr(data-placeholder);
  pointer-events: none;
  float: left;
  height: 0;
}

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: bold;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.ProseMirror ul {
  list-style: disc;
  padding-left: 20px;
}

.ProseMirror ol {
  list-style: decimal;
  padding-left: 20px;
}

.ProseMirror blockquote {
  border-left: 4px solid #ddd;
  padding-left: 15px;
  color: gray;
}

.ProseMirror code {
  background: #f4f4f4;
  padding: 2px 4px;
}

.ProseMirror pre {
  background: #111;
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.ProseMirror img {
  max-width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.image-gallery-wrapper {
  width: 100%;
}

.image-gallery-wrapper .image-gallery-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.image-gallery-wrapper .image-gallery-image {
  width: 100%;
  max-height: 520px;
  object-fit: cover;
  border-radius: 1rem;
}

.image-gallery-wrapper .image-gallery-thumbnails .image-gallery-thumbnail {
  width: 98px;
  height: 70px;
  overflow: hidden;
  border-radius: 0.75rem;
}

.image-gallery-wrapper .image-gallery-thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-gallery-wrapper .image-gallery-icon {
  width: 34px;
  height: 34px;
  padding: 0;
}

.image-gallery-wrapper .image-gallery-left-nav,
.image-gallery-wrapper .image-gallery-right-nav {
  top: calc(50% - 17px);
}

.image-gallery-wrapper .image-gallery-left-nav svg,
.image-gallery-wrapper .image-gallery-right-nav svg {
  width: 20px;
  height: 20px;
}
